html {
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0 auto;
    max-width: 480px;
    max-height: 800px;
}

/*#main {*/
/*    background-color: lightgray;*/
/*    width: 100%;*/
/*    max-width: 480px;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    height: 800px;*/
/*}*/

#main #header {
    background-color: burlywood;
    /*background-color: white;*/
    border: 1px solid lightgray;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    height: 5rem;
    max-height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header img {
    width: 20%;
    margin-left: 1rem;
    width: 6rem;
    height: 3rem;
}
#header-users {
    display: flex;
    justify-content: center;
    align-items: center;
}
#header-users li {
    list-style: none;
}
#header-users li:nth-child(2) {
    margin-left: 1rem;
}
#header-users input {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    width: 6.5rem;
    height: 2rem;
    background-color: white;
    border: none;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    margin-right: 1rem;
}
#header-users img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 60%;
}

#container {
    /*margin-top: 5rem;*/
    /*margin-bottom: 5rem;*/
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#container .feed-info {
    border: 1px solid lightgray;
    background-color: lightgray;
    /*background-color: white;*/
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#container .feed-info .info-left {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4rem;
}
#container .feed-info .info-left .info-name{
    margin: 0 20px;

}

#container .feed-info .info-right {
    width: 60%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container .feed-info .info-right h1 {
    /*width: 6rem;*/
    /*height: 2rem;*/
    margin-right: 1rem;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

#container .feed-info .info-left img {
    float: left;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

#container .info-left-txt {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container .feed-info .info-left h1 {
    text-align: center;
    float: right;
    font-size: 1rem;
    font-weight: bold;
}

/*#container .feed-info .info-left input {*/
/*    width: 4rem;*/
/*    height: 2rem;*/
/*    margin-left: 1rem;*/
/*    border: none;*/
/*    font-size: 1rem;*/
/*    font-weight: bold;*/
/*    text-align: center;*/
/*}*/

#container .feed-container{
    width: 100%;
    display: block;
}

#container .feed-post img{
    width: 100%;
}
#container .feed-txt{
    display: block;
    height: 3rem;
    width: 100%;
    color: black;
}
#container .feed-txt h3{
    margin: 2rem;
}
#comment-list{
    overflow: hidden;
}
#comment-list .card{
    padding-left: 1rem;
    overflow: hidden;
}

.feed-footer{
    border: 1px solid black;
    display: block;
    width: 100%;
    max-width: 480px;
    height: 19rem;
}

.feed-footer .feed-comments{
    margin: 1rem;
    display: block;
    /*width: 95%;*/
    /*max-width: 480px;*/
}
.feed-footer .feed-comments h3{
    margin-bottom: 5px;
}
.feed-footer .feed-comments input{
    font-size: 1rem;

    height: 3rem;
    width: 98%;
}
.feed-footer .feed-buttons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-content: center;
    }
.feed-footer .feed-buttons button{
    background-color: mediumpurple;
    width: 3rem;
    height: 1.5rem;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5%;
}
.feed-footer .feed-buttons button:nth-child(2){
    margin-left: 1rem;
    margin-right: 1rem;
}
#main #footer {
    background-color: mediumpurple;
    position: fixed;
    bottom: 0;
    max-height: border-box;
    width: 100%;
    max-width: 480px;
    border: 1px solid lightgray;
    height: 4rem;

}

#footer .navbar {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto 2rem;
}

#footer .navbar a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

#footer .navbar a:hover {
    font-size: 1.55rem;
    font-weight: bold;
    color: burlywood;
}
.upbt{
    background-color: transparent;
    border: none;
    border-radius: 50%;
    float: right;
    position: relative;
    bottom: 4rem;
}
.upbt img{
    color: mediumpurple;
    width: 2rem;
    height: 2rem;
}
.upbt:hover{
    border-radius: 40%;
    border: 3px solid lightgray;
    background-size: cover;
    color: mediumpurple;
}
