<!DOCTYPE html>
<html lang="en">
<head>
    <title>spartagram | feed</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/spartagram_icon_s.ico"/>
    <!-- css 초기화 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="../static/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">

    <script>

        function logout() {
            $.removeCookie('mytoken');
            swal('로그아웃!').then(function() {window.location.href = '/login'})
        }

        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 1000) {
                    $('#tothetop').fadeIn();
                } else {
                    $('#tothetop').fadeOut();
                }
            });
            $("#tothetop").click(function () {
                $('html, body').animate({
                    scrollTop: 0
                }, 500);
                return false
            });
        });

        function current_page() {
            window.location.reload();
        }

        function posting() {
            window.location.href = '/posting'
        }


        function go_mypage() {
            window.location.href = '/mypage'
        }

        function save_comment(post_real_id) {
            let reply = $(`#comment-box-${post_real_id}`).val();
            console.log(reply)
            $.ajax({
                type: 'POST',
                url: '/feed_com',
                data: {comment_give: reply, post_id_give: post_real_id},
                success: function (response) {
                    swal(response['msg']);
                    swal("댓글 작성 완료").then(function (){window.location.reload()})


                }
            })

        }


        function reload() {
            window.location.reload();
        }

        function deletecmt(commenter){
            let cmt = commenter
            $.ajax({
                type: 'POST',
                url: '/feed_home/deletecmt',
                data: {cmt_receive: cmt},
                success: function (response) {
                    swal(response['msg']).then(function (){window.location.reload()})

                }
            })
        }

    </script>
</head>
<body>
<div id="header">
    <button onclick="reload()" class="logo"></button>
    <button class="btn_logout" onclick="logout()"></button>

</div>
<div class="container">
    <div class="feed">
        {% for post in posts_info %}

            <div class="posting_wrap">
                <div class="writer_info">
                    <div class="writer_info_left">
                        <img src="{{ post['profile_url'] }}">
                        <div class="info_group">
                            <p class="writer_id">{{ post['id'] }}</p>
                            <div class="info_group_bottom">
                                <p class="writer_location">{{ post['mylocation'] }}</p>
                                <p class="write-time">{{ post['mytime'] }}</p>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="feed_container">
                    <img class="feed_post" src="{{ post['url'] }}">
                    <h3 class="feed_txt">{{ post['mytext'] }}</h3>
                </div>
            </div>
            <div class="comment_container">
                {% for comment in comments %}
                {% if (comment['post_id']) == (post['_id']) %}

                    <div id="comment-list">
                        <div class="card">
                            <p>{{ comment['commenter'] }}</p>
                            <p class="card_comment" id = "cmt-{{ comment['reply'] }}">{{ comment['reply'] }}</p>
                            <button class="btn_delete" onclick="deletecmt('{{ comment['reply'] }}')"></button>
                        </div>
                    </div>

                {% endif %}
                {% endfor %}
                <div class="comment_wrap">
{#                    <p>{{ post_id['id'] }}</p>#}
                    <div class="comment_btn_group">
                        <textarea id="comment-box-{{ post['_id'] }}" placeholder="댓글을 입력해주세요" class="btn_input_comment" style="resize: none;"></textarea>
                       <button class="btn_edit_comment" onclick="save_comment('{{ post['_id'] }}')">등록</button>
                    </div>

                </div>

            </div>

        {% endfor %}

    </div>


</div>
<div id="tothetop"></div>

<div id="footer">
    <button class="feed_nav" onclick="current_page()"></button>
    <button class="posting_nav" onclick="posting()"></button>
    <button class="mypage_nav" onclick="go_mypage()"></button>
</div>
</body>
</html>