<!DOCTYPE html>
<html lang="en">
<head>
    <title>spartagram | ID</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/spartagram_icon_s.ico"/>
    <!-- css 초기화 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="../static/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <script>
        function findid() {
            let name = $('#username').val()
            let email = $('#useremail').val()
            $.ajax({
                type: "POST",
                url: "/api/findid",
                data: {username_give: name, useremail_give: email},
                success: function (response) {
                    if (response['result'] == 'success') {
                        id = response["id"]
                        swal("당신의 아이디는 " + id + "입니다.");
                    } else {
                        swal(response['msg']);
                    }

                }
            })

        }

        function backward() {
            window.location.href = '/login'
        }

        function findpw() {
            window.location.href = '/password_reset'
        }

    </script>
</head>

<body>
<div class="container">
    <div class="back_wrap">
        <button class="btn_back" onclick="backward()"></button>
        <h1 class="title">이전으로</h1>
    </div>
    <div class="find_id_wrap">

        <h1>회원가입 시 등록한 정보로<br>아이디를 확인할 수 있습니다.</h1>

        <input type="text" class="btn_input" id="username" placeholder="이름">

        <input type="text" class="btn_input" id="useremail" placeholder="이메일">

        <button class="btn_submit" onclick="findid()">아이디 찾기</button>

        <button class="btn_submit" onclick="findpw()">비밀번호 재설정하기</button>

    </div>
</div>


</body>

</html>