<!DOCTYPE html>
<html lang="en">
<head>
    <title>spartagram | password</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/spartagram_icon_s.ico"/>
    <!-- css 초기화 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="../static/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <script>
        function password_reset() {
            $.ajax({
                type: "POST",
                url: "/api/password_reset",
                data: {
                    userid_give: $('#userid').val(),
                    pw_give: $('#userpw').val(),
                    useremail_give:$('#useremail').val()
                },
                success: function (response) {
                    swal(response['msg'])
                }
            });
        }

        function backward() {
            window.location.href = '/login'
        }

    </script>
</head>
<body>
<div class="container">
    <div class="back_wrap">
        <button class="btn_back" onclick="backward()"></button>
        <h1 class="title">이전으로</h1>
    </div>
    <div class="reset_password_wrap">
        <h1>회원가입 시 등록한 정보로<br>비밀번호를 재설정할 수 있습니다.</h1>

        <input type="text" class="btn_input" id="userid" placeholder="아이디">

        <input type="text" class="btn_input" id="useremail" placeholder="이메일">

        <input type="password" class="btn_input" id="userpw" placeholder="재설정할 비밀번호를 입력하세요.">

        <button class="btn_submit" onclick="password_reset()">비밀번호 재설정</button>
    </div>
</div>

</body>
</html>