<!doctype html>
<html lang="en">
<head>

    <!-- Webpage Title -->
    <title>spartagram | register</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/spartagram_icon_s.ico"/>
    <!-- css 초기화 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="../static/main.css">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">

    <script>
        // 간단한 회원가입 함수입니다.
        // 아이디, 비밀번호, 닉네임을 받아 DB에 저장합니다.
        function register() {
            $.ajax({
                type: "POST",
                url: "/api/register",
                data: {
                    id_give: $('#userid').val(),
                    pw_give: $('#userpw').val(),
                    name_give: $('#username').val(),
                    email_give: $('#useremail').val()
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        swal('회원가입이 완료되었습니다.');
                        window.location.href = '/login'
                    } else {
                        swal(response['msg']);
                    }
                }
            })
        }

        function backward() {
            window.location.href = '/login'
        }

        function is_userid(asValue) {
            var regExp = /^(?=.*[a-zA-Z])[-a-zA-Z0-9_.]{2,10}$/;
            return regExp.test(asValue);
        }

        function check_dup() {
            let userid = $("#userid").val()
            console.log(username)
            if (userid == "") {
                swal('아이디를 입력해 주세요.');
                return;
            }
            if (!is_userid(userid)) {
                swal("아이디의 형식을 확인해주세요. 영문과 숫자, 일부 특수문자(._-) 사용 가능. 2-10자 길이");
                return;
            }

            $.ajax({
                type: "POST",
                url: "/check_dup",
                data: {userid_give: userid},
                success: function (response) {

                    if (response["exists"]) {
                        swal("이미 존재하는 아이디입니다.").then(function (){window.location.reload()})
                        {#$('#userid').val('')#}
                    } else {
                        swal("사용 할 수 있는 아이디입니다.")
                    }
                }
            });
        }


    </script>
</head>
<body>
<div class="container">
    <div class="back_wrap">
        <button class="btn_back" onclick="backward()"></button>
        <h1 class="title">이전으로</h1>
    </div>
    <div class="register_wrap">
        <div class="id_wrap">
            <input type="text" class="btn_input" id="userid"
                   placeholder="아이디">
            <button class="btn_check" onclick="check_dup()">중복확인</button>
        </div>

        <input type="password" class="btn_input" id="userpw" placeholder="비밀번호">

        <input type="text" class="btn_input" id="username" placeholder="이름">

        <input type="text" class="btn_input" id="useremail" placeholder="이메일">

        <button class="btn_submit" onclick="register()">회원가입</button>

    </div>

</div>
</div>
</body>
</html>